*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color: whitesmoke;
}

/*inizio header*/
h1{
    display: inline-block;
    vertical-align: middle;
    font-family: sans-serif;
}

img{
    vertical-align: middle;
}

header{
    height: 60px;
    background-color: white;
}

/*fine header*/


.container{
    width: 600px;
    height: auto;
    background-color:white;
    margin-top: 40px;
    margin-left: 150px;
    border-radius: 10px;
}



/* navbar start*/

nav{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.add-task{
padding: 8px;
border-style: none;
border-radius: 5px;  
background-color: rgb(97, 214, 253);
color:white
}

.add-section{
    padding: 8px;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

/* navbar end*/



div{
    padding: 15px;
}

h2{
    font-family: sans-serif; 
}
p{
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

span{
    font-weight: lighter;
}
.check{
color: rgb(87, 255, 87);
border-width: 2px;
border-style: solid;
border-radius: 15px;
margin-right: 10px;

}

.cross{   
color:red;
border-width: 2px;
border-style: solid;
border-radius: 15px;
margin-right: 10px;

}


/*nomi evidenziati inizio*/
.editorial{
    background-color: rgb(97, 214, 253);
    color: white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}

.goals{
    background-color:rgb(196, 75, 196);
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}

.recruiting{
    background-color:rgb(111, 197, 111);
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
.mobile{
    background-color:orange;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
.website{
    background-color:violet;
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
.sales{
    background-color: rgb(137, 204, 38);
    color:white;
    padding:5px;
    border-radius: 15px;
    font-size: 12px;
}
/*nomi evidenziati fine*/