*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* navbar start*/

.add-task{
padding: 5px;
border-style: none;
border-radius: 5px;  
background-color: rgb(97, 214, 253);
color:white
}

.add-section{
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    color: gray;
}

/* navbar end*/



.check{
color: rgb(87, 255, 87);
border-width: 2px;
border-style: solid;
border-radius: 15px;

}

.cross{
color:red;
border-width: 2px;
border-style: solid;
border-radius: 15px;
}



.editorial{
    background-color: rgb(97, 214, 253);
    color: white;
    padding:5px;
    border-radius: 15px;
}

.goals{
    background-color:rgb(196, 75, 196);
    color:white;
    padding:5px;
    border-radius: 15px;
}

.recruiting{
    background-color:rgb(111, 197, 111);
    color:white;
    padding:5px;
    border-radius: 15px;
}
.mobile{
    background-color:orange;
    color:white;
    padding:5px;
    border-radius: 15px;
}
.website{
    background-color:violet;
    color:white;
    padding:5px;
    border-radius: 15px;
}
.sales{
    background-color: rgb(137, 204, 38);
    color:white;
    padding:5px;
    border-radius: 15px;
}